@model Notes.Web.Models.Notepad.NotepadVM

@{
    ViewData["Title"] = "Index";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<h2>Notepad</h2>

<div id="outer-div" class="divView">
    <textarea id="input-pane" style="background-color:white;height:100%;width:50%;max-width:50%;min-width:50%;float:left;min-height:500px;resize:none;">@Model.InputText</textarea>
    <textarea id="output-pane" style="background-color:white;width:50%;max-width:50%;float:left;min-width:50%;min-height:500px; resize:none;" readonly>@Model.OutputText</textarea>
</div>