@model Notes.Web.Models.Notepad.NotepadVM

@{ViewData["Title"] = "Notepad";}

<!--import javascript required for asciimath & mathjax, configured for asciimath-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML"></script>
<script type="text/javascript" src="~/js/ASCIIMathML.js"></script>

<!--Render sidenav and wiki partial view content-->
<div id="mySidenav" class="sidenav">
    @Html.Partial("_Wiki");
</div>

<!--page layout-->
<div id="main">
    <h2>Notepad</h2>
    <span class="navBtn" id="navToggleBtn">&#9776; Open Wiki</span>

    <div id="outer-div" class="divView">
        <br />
        <textarea class="inputPane" id="input-pane">@Model.InputText</textarea>
        <div class="outputPane" id="output-pane">@Model.OutputText</div>
    </div>
</div>